set history=50 " number of command-lines that are remembered
set hlsearch " highlight matches with last search pattern
set ignorecase " ignore case in search patterns
set showmode " message on status line to show current mode
set smartcase " no ignore case when pattern has uppercase

" disable bell
set visualbell
set noerrorbells


" Switch tabs
" nnoremap <C-n> gt
" nnoremap <C-p> gT

" Split windows
" nnoremap <C-h> <C-w>h
" nnoremap <C-j> <C-w>j
" nnoremap <C-k> <C-w>k
" nnoremap <C-l> <C-w>l
" nnoremap <C-c> <C-w>c

"set space as leader
let mapleader = "\<Space>"

"Type <Space>w to save file (a lot faster than :w<Enter>):
nnoremap <Leader>w :w

" Emulate vim-surround
set surround

set clipboard+=unnamedplus
set ideajoin